<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lipository.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Lipository.App.Properties.Settings>
            <setting name="TotalInfoSize" serializeAs="String">
                <value>240, 340</value>
            </setting>
            <setting name="ImageInfoSize" serializeAs="String">
                <value>220, 165</value>
            </setting>
            <setting name="ImageInfoPos" serializeAs="String">
                <value>9, 9</value>
            </setting>
            <setting name="ImageInfoVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TitleInfoText" serializeAs="String">
                <value />
            </setting>
            <setting name="TitleInfoPos" serializeAs="String">
                <value>7, 175</value>
            </setting>
            <setting name="TitleInfoVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubTitleInfoText" serializeAs="String">
                <value />
            </setting>
            <setting name="SubTitleInfoPos" serializeAs="String">
                <value>7, 200</value>
            </setting>
            <setting name="SubTitleVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RateInfoText" serializeAs="String">
                <value />
            </setting>
            <setting name="RateInfoPos" serializeAs="String">
                <value>125, 200</value>
            </setting>
            <setting name="RateInfoVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Etc1InfoTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="Etc1InfoText" serializeAs="String">
                <value />
            </setting>
            <setting name="Etc1InfoPos" serializeAs="String">
                <value>7, 215</value>
            </setting>
            <setting name="Etc1InfoVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Etc2InfoTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="Etc2InfoText" serializeAs="String">
                <value />
            </setting>
            <setting name="Etc2InfoPos" serializeAs="String">
                <value>7, 230</value>
            </setting>
            <setting name="Etc2InfoVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Etc3InfoTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="Etc3InfoText" serializeAs="String">
                <value />
            </setting>
            <setting name="Etc3InfoPos" serializeAs="String">
                <value>7, 245</value>
            </setting>
            <setting name="Etc3InfoVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Etc4InfoTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="Etc4InfoText" serializeAs="String">
                <value />
            </setting>
            <setting name="Etc4InfoPos" serializeAs="String">
                <value>7, 260</value>
            </setting>
            <setting name="Etc4InfoVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MemoInfoText" serializeAs="String">
                <value />
            </setting>
            <setting name="MemoInfoPos" serializeAs="String">
                <value>7, 275</value>
            </setting>
            <setting name="MemoInfoVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReleaseInfoText" serializeAs="String">
                <value />
            </setting>
            <setting name="ReleaseInfoPos" serializeAs="String">
                <value>7, 290</value>
            </setting>
            <setting name="ReleaseInfoVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastInfoText" serializeAs="String">
                <value />
            </setting>
            <setting name="LastInfoPos" serializeAs="String">
                <value>7, 305</value>
            </setting>
            <setting name="LastInfoVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MediaExtensions" serializeAs="String">
                <value>avi,mp4,wmv,mpg,mkv,mov,ts,tp,flv</value>
            </setting>
            <setting name="ImageExtensions" serializeAs="String">
                <value>jpg,jpeg,png,bmp</value>
            </setting>
        </Lipository.App.Properties.Settings>
    </userSettings>
</configuration>